<!DOCTYPE html>

<html>
<body>
  <form action="" method = "POST">
    Insert User :<br><br>
    <table>
      <tr>
        <td>First Name:</td>
        <td><input type="text" name="firstname"></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" name="lastname"></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td><select name="gender">
          <option value="female">Female</option>
          <option value="male">Male</option>
        </select></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="email" name="email"></td>
      </tr>
      <tr>
        <td>User Name:</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password"></td>
      </tr>
    </table>
    <input type="submit" value="Sig Up">
  </form>
</body>
</html>
