{% include 'header.html' %}

<body>
  <div class="container">
  <p>Daftar User</p>
  <table class="table table-hover">
    <thead>
      <!-- <th>Id, Nama, Password, First Name, Last Name, Email, Gender</th> -->
      <th>Id</th>
      <th>Nama</th>
      <th>Password</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Gender</th>
    </thead>

    <tbody>
      {% for row in rows %}
      <tr>
        <!-- <td>{{row["id,username,password,first_name,last_name,email,gender"]}}</td> -->
        <td>{{row["id"]}}</td>
        <td>{{row["username"]}}</td>
        <td>{{row["password"]}}</td>
        <td>{{row["first_name"]}}</td>
        <td>{{row["last_name"]}}</td>
        <td>{{row["email"]}}</td>
        <td>{{row["gender"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include 'footer.html' %}
